.data-body {
    align-self: center;
}

.student-table {
    border: 5px solid white;
    border-radius: 5px;
    padding: 5px;
    // align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $btn;
    padding: 10px;
    // align-self: center;

    .heading {
        background-color: $hover;
        color: black;

        .plus {
            background-color: green;
        }
    }
    table, tr, th {
        // margin: auto;
        border: 1px solid white;
        border-collapse: collapse;
        padding: 10px;

        th:hover {
            background-color: $hover;
            color: black;
            transition: 100ms;
        }

        button {
            color: white;
        }
    }
}

.view {
    background-color: purple;
}
.edit {
    background-color: $hover;
}
.delete {
    background-color: red;
}

.student-modal-notes {
    background-color: $hover;
    height: 100px;
}