.app {
    display: grid;
    grid-gap: 40px;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(center, minmax(240px, 1fr));
    justify-items: center;
    width: 100%;
    background-color: $btn;
    border-radius: 10px;
    padding: 20px 0px 20px 0px;
    width: auto;
    
    .user-name {
        text-align: center;
    }

    .log-in-form {
        display: grid;
        grid-gap: 10px;
        justify-content: center;
    }

    .create-account-form {
        display: grid;
        grid-gap: 10px;
        justify-content: center;
    }
    .problems {
        display: grid;
        grid-gap: 10px;
        .problem {
            color: #FF0000;
        }
    }

    form {
        display: grid;
        grid-gap: 10px;

        label, input {
            width: 300px;
        }
    }

    button {
        font-size: 15px;
    }
}