.student-form {
    display: grid;
    grid-gap: 10px;
    // width: 100px;
    justify-content: center;

    label, input {
        width: 300px;
    }
}

.student-form-close {
    position: absolute;
    // align-items: center;
    // right: 27%;
    right: 10px;
}

.student-container {
    display: grid;
    grid-gap: 10px;
    font-size: 20px;

    .data-container {
        display: flex;
        gap: 5px;
    }

    .data-title {
        font-weight: bold;
        text-decoration: underline;
    }
}