.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 20px;
    justify-items: center;

    .user-card {
        display: grid;
        grid-gap: 10px;
        background-color: $btn;
        color: white;
        font-size: 20px;
        padding: 0px 5px 5px 5px;
        border-radius: 5px;

        .user-button {
            display: flex;
            align-self: center;
            gap: 10px;

            button {
                width: 50%;
            }
        }
    }
}

.user-text-area {
    color: white;
    background-color: black;
    width: 100%;
    margin-top: 20px;
    height: 100%;
}