.user-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;

    .user-card {
        display: grid;
        grid-gap: 10px;
        background-color: $hover;
        color: black;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;

        .user-button {
            display: flex;
            align-self: center;
            gap: 10px;

            button {
                width: 50%;
            }
        }
    }
}